# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Code Owner(s)
*   @digimaun

# Central Code Owner(s)
azext_iot/central/   @prbans

# Monitor Code Owner(s)
azext_iot/monitor/   @prbans

# Tests Code Owners
azext_iot/tests/central/   @prbans
azext_iot/tests/test_iot_central_int.py   @prbans
azext_iot/tests/test_iot_central_unit.py   @prbans
