[submodule "opendigitaltwins-building"]
	path = azext_iot/tests/digitaltwins/references/opendigitaltwins-building
	url = https://github.com/Azure/opendigitaltwins-building
[submodule "opendigitaltwins-smartcities"]
	path = azext_iot/tests/digitaltwins/references/opendigitaltwins-smartcities
	url = https://github.com/Azure/opendigitaltwins-smartcities
[submodule "azext_iot/tests/digitaltwins/references/opendigitaltwins-energygrid"]
	path = azext_iot/tests/digitaltwins/references/opendigitaltwins-energygrid
	url = https://github.com/Azure/opendigitaltwins-energygrid
