[pytest]
junit_family = xunit1
addopts =
    -v
    -p no:warnings

norecursedirs =
    dist
    build

testpaths =
    azext_iot/tests

env =
    AZURE_TEST_RUN_LIVE=True
    azext_iot_testrg=
    azext_iot_testhub=
    azext_iot_testhub_cs=
    azext_iot_testdps=
    azext_iot_teststorageuri=
    azext_pnp_endpoint=
    azext_pnp_repository=
    azext_pnp_cs=
    azext_iot_central_app_id=
    azext_iot_central_device_id=
    azext_iot_central_device_template_path=./azext_iot/tests/central/json/device_template_int_test.json
