[pytest]
junit_family = xunit1
addopts =
    -v
    -p no:warnings

norecursedirs =
    dist
    build

testpaths =
    azext_iot/tests

env =
    AZURE_TEST_RUN_LIVE=True
    azext_iot_testrg=
    azext_iot_testhub=
    azext_iot_testhub_cs=
    azext_iot_testdps=
    azext_iot_teststorageuri=
    azext_iot_testidentity=
    azext_pnp_endpoint=
    azext_pnp_repository=
    azext_pnp_cs=
    azext_iot_central_app_id=
    azext_iot_central_app_token=''
    azext_dt_rbac_assignee_owner=
    azext_dt_rbac_assignee_reader=
    azext_dt_ep_eventgrid_topic=
    azext_dt_ep_servicebus_namespace=
    azext_dt_ep_servicebus_policy=
    azext_dt_ep_servicebus_topic=
    azext_dt_ep_eventhub_namespace=
    azext_dt_ep_eventhub_policy=
    azext_dt_ep_eventhub_topic=
    azext_dt_ep_rg=
