# pylint: disable=too-many-lines
# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from collections.abc import MutableMapping
from io import IOBase
from typing import Any, Callable, Dict, IO, Optional, TypeVar, Union, cast, overload

from azure.core import PipelineClient
from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)
from azure.core.pipeline import PipelineResponse
from azure.core.rest import HttpRequest, HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict

from .._configuration import IotHubGatewayDeviceAPIsConfiguration
from .._serialization import Deserializer, Serializer

JSON = MutableMapping[str, Any]
T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_device_get_devices_and_modules_in_scope_request(  # pylint: disable=name-too-long
    device_id: str, module_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-11-01-preview"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/devices/{deviceId}/modules/{moduleId}/devicesAndModulesInDeviceScope"
    path_format_arguments = {
        "deviceId": _SERIALIZER.url("device_id", device_id, "str"),
        "moduleId": _SERIALIZER.url("module_id", module_id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_device_get_device_and_module_in_scope_request(  # pylint: disable=name-too-long
    device_id: str, module_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-11-01-preview"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/devices/{deviceId}/modules/{moduleId}/deviceAndModuleInDeviceScope"
    path_format_arguments = {
        "deviceId": _SERIALIZER.url("device_id", device_id, "str"),
        "moduleId": _SERIALIZER.url("module_id", module_id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_device_send_device_event_request(
    id: str, *, iothub_app_xxx: Optional[str] = None, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-11-01-preview"))
    # Construct URL
    _url = "/devices/{id}/messages/events"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if iothub_app_xxx is not None:
        _headers["iothub-app-XXX"] = _SERIALIZER.header("iothub_app_xxx", iothub_app_xxx, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_device_receive_device_bound_notification_request(  # pylint: disable=name-too-long
    id: str, **kwargs: Any
) -> HttpRequest:
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-11-01-preview"))
    # Construct URL
    _url = "/devices/{id}/messages/deviceBound"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    return HttpRequest(method="GET", url=_url, params=_params, **kwargs)


def build_device_abandon_device_bound_notification_request(  # pylint: disable=name-too-long
    id: str, etag: str, **kwargs: Any
) -> HttpRequest:
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-11-01-preview"))
    # Construct URL
    _url = "/devices/{id}/messages/deviceBound/{etag}/abandon"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
        "etag": _SERIALIZER.url("etag", etag, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    return HttpRequest(method="POST", url=_url, params=_params, **kwargs)


def build_device_create_file_upload_sas_uri_request(  # pylint: disable=name-too-long
    device_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-11-01-preview"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/devices/{deviceId}/files"
    path_format_arguments = {
        "deviceId": _SERIALIZER.url("device_id", device_id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_device_update_file_upload_status_request(  # pylint: disable=name-too-long
    device_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-11-01-preview"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/devices/{deviceId}/files/notifications"
    path_format_arguments = {
        "deviceId": _SERIALIZER.url("device_id", device_id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_device_complete_device_bound_notification_request(  # pylint: disable=name-too-long
    id: str, etag: str, **kwargs: Any
) -> HttpRequest:
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-11-01-preview"))
    # Construct URL
    _url = "/devices/{id}/messages/deviceBound/{etag}"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
        "etag": _SERIALIZER.url("etag", etag, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    return HttpRequest(method="DELETE", url=_url, params=_params, **kwargs)


class DeviceOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~azext_iot.sdk.iothub.device.IotHubGatewayDeviceAPIs`'s
        :attr:`device` attribute.
    """

    def __init__(self, *args, **kwargs):
        input_args = list(args)
        self._client: PipelineClient = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config: IotHubGatewayDeviceAPIsConfiguration = input_args.pop(0) if input_args else kwargs.pop("config")
        self._serialize: Serializer = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize: Deserializer = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @distributed_trace
    def get_devices_and_modules_in_scope(self, device_id: str, module_id: str, **kwargs: Any) -> JSON:
        """Query IotHub to retrieve information regarding devices which belong to the same deviceScope.

        Query IotHub to retrieve information regarding devices which belong to the same deviceScope.
        See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language for more
        information. Pagination of results is supported. This returns information about device twins
        only.

        :param device_id: Required.
        :type device_id: str
        :param module_id: Required.
        :type module_id: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "continuationLink": "str",
                    "devices": [
                        {
                            "adrDeviceProperties": {
                                "etag": "str",
                                "name": "str",
                                "systemData": {
                                    "createdAt": "2020-02-20 00:00:00",
                                    "createdBy": "str",
                                    "createdByType": "str",
                                    "lastModifiedAt": "2020-02-20 00:00:00",
                                    "lastModifiedBy": "str",
                                    "lastModifiedByType": "str"
                                },
                                "uuid": "str"
                            },
                            "armSyncStatus": {
                                "errorMessage": "str",
                                "state": "str"
                            },
                            "attributes": {
                                "str": {}
                            },
                            "authentication": {
                                "policyResourceId": "str",
                                "symmetricKey": {
                                    "primaryKey": "str",
                                    "secondaryKey": "str"
                                },
                                "type": "str",
                                "x509CaValidation": {
                                    "scheme": "str",
                                    "value": {}
                                },
                                "x509Thumbprint": {
                                    "primaryThumbprint": "str",
                                    "secondaryThumbprint": "str"
                                }
                            },
                            "capabilities": {
                                "iotEdge": bool
                            },
                            "cloudToDeviceMessageCount": 0,
                            "connectionState": "str",
                            "connectionStateUpdatedTime": "2020-02-20 00:00:00",
                            "deviceId": "str",
                            "deviceResourceId": "str",
                            "deviceScope": "str",
                            "etag": "str",
                            "generationId": "str",
                            "lastActivityTime": "2020-02-20 00:00:00",
                            "parentScopes": [
                                "str"
                            ],
                            "status": "str",
                            "statusReason": "str",
                            "statusUpdatedTime": "2020-02-20 00:00:00"
                        }
                    ],
                    "modules": [
                        {
                            "attributes": {
                                "str": {}
                            },
                            "authentication": {
                                "policyResourceId": "str",
                                "symmetricKey": {
                                    "primaryKey": "str",
                                    "secondaryKey": "str"
                                },
                                "type": "str",
                                "x509CaValidation": {
                                    "scheme": "str",
                                    "value": {}
                                },
                                "x509Thumbprint": {
                                    "primaryThumbprint": "str",
                                    "secondaryThumbprint": "str"
                                }
                            },
                            "cloudToDeviceMessageCount": 0,
                            "connectionState": "str",
                            "connectionStateUpdatedTime": "2020-02-20 00:00:00",
                            "deviceId": "str",
                            "etag": "str",
                            "generationId": "str",
                            "lastActivityTime": "2020-02-20 00:00:00",
                            "managedBy": "str",
                            "moduleId": "str"
                        }
                    ],
                    "purchases": {
                        "str": {
                            "offerId": "str",
                            "planId": "str",
                            "publisherId": "str"
                        }
                    }
                }
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[JSON] = kwargs.pop("cls", None)

        _request = build_device_get_devices_and_modules_in_scope_request(
            device_id=device_id,
            module_id=module_id,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})  # type: ignore

        return cast(JSON, deserialized)  # type: ignore

    @distributed_trace
    def get_device_and_module_in_scope(self, device_id: str, module_id: str, **kwargs: Any) -> JSON:
        """Get device registry information using module connect for a specific device in deviceScope.

        Get device registry information using module connect for a specific device in deviceScope. See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language for more information.
        Pagination of results is supported. This returns information about device twins only.

        :param device_id: Required.
        :type device_id: str
        :param module_id: Required.
        :type module_id: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "continuationLink": "str",
                    "devices": [
                        {
                            "adrDeviceProperties": {
                                "etag": "str",
                                "name": "str",
                                "systemData": {
                                    "createdAt": "2020-02-20 00:00:00",
                                    "createdBy": "str",
                                    "createdByType": "str",
                                    "lastModifiedAt": "2020-02-20 00:00:00",
                                    "lastModifiedBy": "str",
                                    "lastModifiedByType": "str"
                                },
                                "uuid": "str"
                            },
                            "armSyncStatus": {
                                "errorMessage": "str",
                                "state": "str"
                            },
                            "attributes": {
                                "str": {}
                            },
                            "authentication": {
                                "policyResourceId": "str",
                                "symmetricKey": {
                                    "primaryKey": "str",
                                    "secondaryKey": "str"
                                },
                                "type": "str",
                                "x509CaValidation": {
                                    "scheme": "str",
                                    "value": {}
                                },
                                "x509Thumbprint": {
                                    "primaryThumbprint": "str",
                                    "secondaryThumbprint": "str"
                                }
                            },
                            "capabilities": {
                                "iotEdge": bool
                            },
                            "cloudToDeviceMessageCount": 0,
                            "connectionState": "str",
                            "connectionStateUpdatedTime": "2020-02-20 00:00:00",
                            "deviceId": "str",
                            "deviceResourceId": "str",
                            "deviceScope": "str",
                            "etag": "str",
                            "generationId": "str",
                            "lastActivityTime": "2020-02-20 00:00:00",
                            "parentScopes": [
                                "str"
                            ],
                            "status": "str",
                            "statusReason": "str",
                            "statusUpdatedTime": "2020-02-20 00:00:00"
                        }
                    ],
                    "modules": [
                        {
                            "attributes": {
                                "str": {}
                            },
                            "authentication": {
                                "policyResourceId": "str",
                                "symmetricKey": {
                                    "primaryKey": "str",
                                    "secondaryKey": "str"
                                },
                                "type": "str",
                                "x509CaValidation": {
                                    "scheme": "str",
                                    "value": {}
                                },
                                "x509Thumbprint": {
                                    "primaryThumbprint": "str",
                                    "secondaryThumbprint": "str"
                                }
                            },
                            "cloudToDeviceMessageCount": 0,
                            "connectionState": "str",
                            "connectionStateUpdatedTime": "2020-02-20 00:00:00",
                            "deviceId": "str",
                            "etag": "str",
                            "generationId": "str",
                            "lastActivityTime": "2020-02-20 00:00:00",
                            "managedBy": "str",
                            "moduleId": "str"
                        }
                    ],
                    "purchases": {
                        "str": {
                            "offerId": "str",
                            "planId": "str",
                            "publisherId": "str"
                        }
                    }
                }
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[JSON] = kwargs.pop("cls", None)

        _request = build_device_get_device_and_module_in_scope_request(
            device_id=device_id,
            module_id=module_id,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})  # type: ignore

        return cast(JSON, deserialized)  # type: ignore

    @distributed_trace
    def send_device_event(  # pylint: disable=inconsistent-return-statements
        self, id: str, *, iothub_app_xxx: Optional[str] = None, **kwargs: Any
    ) -> None:
        """Send a device-to-cloud message.

        Send a device-to-cloud message. See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging for more information.

        :param id: Device ID. Required.
        :type id: str
        :keyword iothub_app_xxx: Optional application property prefixed with 'iothub-app-' to be placed
         in 'applicationProperties' section of the message ('iothub-app-' prefix will be stripped).
         Default value is None.
        :paramtype iothub_app_xxx: str
        :return: None
        :rtype: None
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[None] = kwargs.pop("cls", None)

        _request = build_device_send_device_event_request(
            id=id,
            iothub_app_xxx=iothub_app_xxx,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if cls:
            return cls(pipeline_response, None, {})  # type: ignore

    @distributed_trace
    def receive_device_bound_notification(  # pylint: disable=inconsistent-return-statements
        self, id: str, **kwargs: Any
    ) -> None:
        """This method is used to retrieve a cloud-to-device message.

        This method is used to retrieve a cloud-to-device message See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging for more information. This
        capability is only available in the standard tier IoT Hub. For more information, see `Choose
        the right IoT Hub tier <https://aka.ms/scaleyouriotsolution>`_.

        :param id: Device ID. Required.
        :type id: str
        :return: None
        :rtype: None
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[None] = kwargs.pop("cls", None)

        _request = build_device_receive_device_bound_notification_request(
            id=id,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200, 204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if cls:
            return cls(pipeline_response, None, {})  # type: ignore

    @distributed_trace
    def abandon_device_bound_notification(  # pylint: disable=inconsistent-return-statements
        self, id: str, etag: str, **kwargs: Any
    ) -> None:
        """This method abandons a cloud-to-device message.

        This method abandons a cloud-to-device message. The Etag obtained when the message was received
        must be provided to resolve race conditions when completing, rejecting, or abandoning a
        message. A abandoned message is put back in the device message queue for re-delivery to the
        device. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging for more
        information. Currently, the use of the Etag in the header does not comply with RFC 7232. A fix
        for this issue is currently on our backlog. This capability is only available in the standard
        tier IoT Hub. For more information, see `Choose the right IoT Hub tier
        <https://aka.ms/scaleyouriotsolution>`_.

        :param id: Device ID. Required.
        :type id: str
        :param etag: Required.
        :type etag: str
        :return: None
        :rtype: None
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[None] = kwargs.pop("cls", None)

        _request = build_device_abandon_device_bound_notification_request(
            id=id,
            etag=etag,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if cls:
            return cls(pipeline_response, None, {})  # type: ignore

    @overload
    def create_file_upload_sas_uri(
        self, device_id: str, file_upload_request: JSON, *, content_type: str = "application/json", **kwargs: Any
    ) -> JSON:
        """This method is used to retrieve a storage SAS URI to upload a file.

        This method is used to retrieve a storage SAS URI to upload a file. See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload for more information.

        :param device_id: Device ID. Required.
        :type device_id: str
        :param file_upload_request: File upload request object. Required.
        :type file_upload_request: JSON
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                file_upload_request = {
                    "blobName": "str"
                }

                # response body for status code(s): 200
                response == {
                    "blobName": "str",
                    "containerName": "str",
                    "correlationId": "str",
                    "hostName": "str",
                    "sasToken": "str"
                }
        """

    @overload
    def create_file_upload_sas_uri(
        self, device_id: str, file_upload_request: IO[bytes], *, content_type: str = "application/json", **kwargs: Any
    ) -> JSON:
        """This method is used to retrieve a storage SAS URI to upload a file.

        This method is used to retrieve a storage SAS URI to upload a file. See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload for more information.

        :param device_id: Device ID. Required.
        :type device_id: str
        :param file_upload_request: File upload request object. Required.
        :type file_upload_request: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "blobName": "str",
                    "containerName": "str",
                    "correlationId": "str",
                    "hostName": "str",
                    "sasToken": "str"
                }
        """

    @distributed_trace
    def create_file_upload_sas_uri(
        self, device_id: str, file_upload_request: Union[JSON, IO[bytes]], **kwargs: Any
    ) -> JSON:
        """This method is used to retrieve a storage SAS URI to upload a file.

        This method is used to retrieve a storage SAS URI to upload a file. See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload for more information.

        :param device_id: Device ID. Required.
        :type device_id: str
        :param file_upload_request: File upload request object. Is either a JSON type or a IO[bytes]
         type. Required.
        :type file_upload_request: JSON or IO[bytes]
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                file_upload_request = {
                    "blobName": "str"
                }

                # response body for status code(s): 200
                response == {
                    "blobName": "str",
                    "containerName": "str",
                    "correlationId": "str",
                    "hostName": "str",
                    "sasToken": "str"
                }
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[JSON] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(file_upload_request, (IOBase, bytes)):
            _content = file_upload_request
        else:
            _json = file_upload_request

        _request = build_device_create_file_upload_sas_uri_request(
            device_id=device_id,
            content_type=content_type,
            api_version=self._config.api_version,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})  # type: ignore

        return cast(JSON, deserialized)  # type: ignore

    @overload
    def update_file_upload_status(
        self,
        device_id: str,
        file_upload_completion_status: JSON,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> JSON:
        """This method is used to notify an IoT hub of a completed file upload.

        This method is used to notify an IoT hub of a completed file upload. See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload for more information.

        :param device_id: Device ID. Required.
        :type device_id: str
        :param file_upload_completion_status: File upload completion status object. Required.
        :type file_upload_completion_status: JSON
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                file_upload_completion_status = {
                    "correlationId": "str",
                    "isSuccess": bool,
                    "statusCode": 0,
                    "statusDescription": "str"
                }

                # response body for status code(s): 204
                response == {
                    "correlationId": "str",
                    "isSuccess": bool,
                    "statusCode": 0,
                    "statusDescription": "str"
                }
        """

    @overload
    def update_file_upload_status(
        self,
        device_id: str,
        file_upload_completion_status: IO[bytes],
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> JSON:
        """This method is used to notify an IoT hub of a completed file upload.

        This method is used to notify an IoT hub of a completed file upload. See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload for more information.

        :param device_id: Device ID. Required.
        :type device_id: str
        :param file_upload_completion_status: File upload completion status object. Required.
        :type file_upload_completion_status: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 204
                response == {
                    "correlationId": "str",
                    "isSuccess": bool,
                    "statusCode": 0,
                    "statusDescription": "str"
                }
        """

    @distributed_trace
    def update_file_upload_status(
        self, device_id: str, file_upload_completion_status: Union[JSON, IO[bytes]], **kwargs: Any
    ) -> JSON:
        """This method is used to notify an IoT hub of a completed file upload.

        This method is used to notify an IoT hub of a completed file upload. See
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload for more information.

        :param device_id: Device ID. Required.
        :type device_id: str
        :param file_upload_completion_status: File upload completion status object. Is either a JSON
         type or a IO[bytes] type. Required.
        :type file_upload_completion_status: JSON or IO[bytes]
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                file_upload_completion_status = {
                    "correlationId": "str",
                    "isSuccess": bool,
                    "statusCode": 0,
                    "statusDescription": "str"
                }

                # response body for status code(s): 204
                response == {
                    "correlationId": "str",
                    "isSuccess": bool,
                    "statusCode": 0,
                    "statusDescription": "str"
                }
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[JSON] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(file_upload_completion_status, (IOBase, bytes)):
            _content = file_upload_completion_status
        else:
            _json = file_upload_completion_status

        _request = build_device_update_file_upload_status_request(
            device_id=device_id,
            content_type=content_type,
            api_version=self._config.api_version,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})  # type: ignore

        return cast(JSON, deserialized)  # type: ignore

    @distributed_trace
    def complete_device_bound_notification(  # pylint: disable=inconsistent-return-statements
        self, id: str, etag: str, **kwargs: Any
    ) -> None:
        """This method completes or rejects a cloud-to-device message.

        This method completes or rejects a cloud-to-device message. The Etag obtained when the message
        was received must be provided to resolve race conditions when completing, rejecting, or
        abandoning a message. A completed message is deleted from the device message queue, and a
        positive acknowledgment is sent to the application back-end if requested. A rejected message
        causes it to be deadlettered. To reject a message, include a query parameter called
        \\"reject\\". See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging for more
        information. Currently, the use of the Etag in the header does not comply with RFC 7232. A fix
        for this issue is currently on our backlog. This capability is only available in the standard
        tier IoT Hub. For more information, see `Choose the right IoT Hub tier
        <https://aka.ms/scaleyouriotsolution>`_.

        :param id: Device ID. Required.
        :type id: str
        :param etag: Required.
        :type etag: str
        :return: None
        :rtype: None
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[None] = kwargs.pop("cls", None)

        _request = build_device_complete_device_bound_notification_request(
            id=id,
            etag=etag,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if cls:
            return cls(pipeline_response, None, {})  # type: ignore
